build
zconf.h
zconf.h.included
*.o
*.os
*.so
*.dylib
.import/
*.dblite
*.dll
*.exp
*.lib
*.obj
*obj.enc
*.TMP
*.idb
*.pdb
logs
Thumbs.db
godot/-cpp
*.ilk
*.sqlite

# Visual Studio 2017 and Visual Studio Code workspace folder
/.vs
/.vscode

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/
*.debug
*.dSYM

# Visual Studio cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*